<style type="text/css">
.swap-card {
  background: var(--recharge-cards-background);
  border: 1px solid var(--recharge-cards-border-color);
  padding: 20px;
  font-family: var(--recharge-typography-heading-font-family);
  font-weight: var(--recharge-typography-heading-font-weight);
  font-size: var(--recharge-typography-size-4);
  line-height: 140%;
}

.swap-card small, .swap-card #prepaidSwapMessage {
  font-family: var(--recharge-typography-body-font-family);
  font-weight: var(--recharge-typography-body-font-weight);
  font-size: var(--recharge-typography-size-6);
  line-height: 100%;
}

.swap-card select {
  font-family: var(--recharge-typography-heading-font-family);
  font-weight: var(--recharge-typography-heading-font-weight);
  font-size: var(--recharge-typography-size-5);
}
  
.swap-card button {
  font-family: var(--recharge-typography-heading-font-family);
  font-weight: var(--recharge-typography-heading-font-weight);
  font-size: var(--recharge-typography-size-5);
}

#swap-card-loading {
  height: 230px;
  width: 100%;
  background: white;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    color: transparent;
}

@keyframes skeleton-loading {
    0% {
        background-color: #F5F5F5; /* FROM Color 1 */
    }
    100% {
        background-color: #E2E2E2; /* TO Color 2 */
    }
}
  
</style>

<script type="text/html" id="prepaidSwapTemplate">
  <div id="swap-card-loading" class="skeleton">&nbsp;</div>
  <div id="swap-card" class="swap-card" style="display:none;">
    <p>Species</p>
    <small>Changing species will affect all future months of your prepaid subscription. You can change species again at anytime.</small>
    <p>
      <select id="prepaidSpecies"></select>
      <button id="submitSpeciesSwap">Change species</button>
    </p>
    <p id="prepaidSwapMessage"></p>
  </div>
</script>
<script>
  function waitForElm(selector) { // from https://stackoverflow.com/a/61511955
    return new Promise(resolve => {
        if (document.querySelector(selector)) {
            return resolve(document.querySelector(selector));
        }

        const observer = new MutationObserver(mutations => {
            if (document.querySelector(selector)) {
                observer.disconnect();
                resolve(document.querySelector(selector));
            }
        });

        // If you get "parameter 1 is not of type 'Node'" error, see https://stackoverflow.com/a/77855838/492336
        observer.observe(document.body, {
            childList: true,
            subtree: true
        });
    });
  }

  // Listen for customer clicking to manage subscription, then:
  // 1. determine if prepaid
  // 2. If so, inject UI to swap species
  document.addEventListener(
    "Recharge::click::manageSubscription",
    (event) => {
      const subscriptionId = event.detail.payload.subscriptionId;
      //console.log(event);
      //console.log('subscriptionId', subscriptionId);

      var templateHtml = document.querySelector('script#prepaidSwapTemplate').innerHTML;

      // The DOM might not be loaded immediately. Wait for it...
      waitForElm('div[data-testid="EditSubscription"] > div > div:last-child').then(
        (cancelOption) => {

          cancelOption.insertAdjacentHTML('beforebegin', templateHtml);

          var domain = 'mtb-swapspecies-prod.azurewebsites.net';
          
          fetch('https://' + domain + '/api/subscription_variants/' + subscriptionId)
            .then(response => response.json())
            .then(data => {
              //console.log(data);

              // Hide the loader
              document.getElementById('swap-card-loading').style.display = 'none';
              
              if(data.prepaid != true) return; // Don't display if not a prepaid subscription

              var message = document.getElementById('prepaidSwapMessage');
              var dropdown = document.getElementById('prepaidSpecies');
              data.variants.forEach((variant) => {
                dropdown.options[dropdown.options.length] = new Option(variant.title, variant.id, variant.active, variant.active);
              });

              // Show card
              document.getElementById('swap-card').style.display = 'block';

              var button = document.getElementById('submitSpeciesSwap');
              button.addEventListener("click", function (e) {
                dropdown.disabled = true;
                button.disabled = true;
                button.innerText = 'Saving...';

                var variantId = dropdown.options[dropdown.selectedIndex].value;

                // Do the swap
                fetch('https://' + domain + '/api/SwapSpecies', {
                	method: 'POST',
                	body: JSON.stringify({
                		subscriptionId: Number(subscriptionId),
                		variantId: Number(variantId),
                    customerId: ReCharge.session.customer_id
                	}),
                	headers: {
                		'Content-type': 'application/json; charset=UTF-8'
                	}
                }).then(function (response) {
                	if (response.ok) {
                		return response.json();
                	}
                	return Promise.reject(response);
                }).then(function (data) {
                  	message.innerHTML = '<span style="color:darkgreen;">Species saved!</span>';
                    button.innerText = 'Change species';
                    button.disabled = false;
                    dropdown.disabled = false;
                    //document.dispatchEvent(new CustomEvent("Affinity:refresh")); // Reloading the page causes this block to not render
                }).catch(function (error) {
                    message.innerHTML = '<span style="color:Red;">An error occurred updating your species selection. Please try again or contact customer service.</span>';
                	console.warn('ERROR', error);
                });
              });
            });
        }
      );
    }
  );
</script>