{% comment %}
  Renders a footer block by the type.

  Usage:
  {% render 'trustpilot-trustpilot-slider', theme_color %}
{% endcomment %}

<!-- TrustBox widget - Slider -->
<div class="trustpilot-widget" data-locale="en-US" data-template-id="54ad5defc6454f065c28af8b" data-businessunit-id="51978bf600006400053429eb" data-style-height="240px" data-style-width="100%" data-theme="{{ theme_color }}" data-stars="1,2,3,4,5" data-review-languages="en">
  <a href="https://www.trustpilot.com/review/mysterytacklebox.com" target="_blank" rel="noopener">Trustpilot</a>
</div>
<!-- End TrustBox widget -->