.table-component__header-wrap {
  text-align: center;
}

.table-component__header {
  margin: 0;
}

.table-component__subheader {
  max-width: 78rem;
  margin: 1rem auto 0;
}

.table-component__row_wrap {
  display: flex;
  justify-content: space-between;
}

.table-component__content-wrap {
  display: flex;
  position: relative;
  padding: 1rem 0 1rem;
  width: 70%;
  overflow: auto;
  flex-shrink: 0;
  box-sizing: border-box;
}

.table-component__item-text p {
  margin: 0;
}

.table-component__column .table-component__item-text {
  max-width: 13rem;
}

.table-component__column:last-child .table-component__item-text {
  max-width: 37rem;
}

.table-component__items-wrap {
  margin-top: 4rem;
  font-size: 1.4rem;
}

.table-component__column {
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 3rem;
  margin-left: 2rem;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
}

.table-component__summary-column {
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  font-size: 1.2rem;
  width: 30%;
  overflow: hidden;
}

.table-component__summary-text-wrap {
  text-align: center;
}

.table-component__summary-banner {
  font-size: 0.7rem;
  display: inline-block;
  border-radius: 2rem;
  padding: 0.4rem 1rem;
  width: max-content;
  margin: 0 0 0.3rem 0;
}

.table-component__summary-img-wrap {
  border-radius: 5rem;
  border-width: 0.2rem;
  border-style: solid;
  overflow: hidden;
  height: 4rem;
  width: 4rem;
  flex: none;
}

.table-component__summary-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (min-width: 641px) and (max-width: 989px) {
  .table-component__summary-banner {
    font-size: 0.9rem;
  }

  .table-component__summary-column {
    background-size: 2.2rem;
    font-size: 1.4rem;
    width: 25%;
    padding: 0 2rem;
  }

  .table-component__content-wrap {
    width: 75%;
  }
}

@media screen and (min-width: 990px) {
  .table-component__summary-banner {
    font-size: 1.1rem;
  }

  .table-component__summary-column {
    background-size: 3rem;
    flex-direction: row;
    font-size: 1.7rem;
    padding-left: 3rem;
    padding: 0 4rem;
  }

  .table-component__summary-img-wrap {
    border-width: 0.4rem;

    height: 5.8rem;
    width: 5.8rem;
    margin-right: 1.5rem;
  }
}

@media screen and (min-width: 990px) {
  .table-component__content-wrap {
    overflow: hidden;
  }

  .table-component__column {
    flex-shrink: initial;
  }

  .table-component__summary-column {
    justify-content: flex-start;
  }

  .table-component__summary-text-wrap {
    text-align: left;
  }
}